*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  header {
    background-color: #0077be;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    animation: header-bg 7s ease-in-out infinite alternate;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  @keyframes header-bg {
    0% {
      background-color: #107ebe;
    }
    50% {
      background-color: #096a93;
    }
    100% {
      background-color: #083651;
    }
  }
  
  .profile-image {
    display: flex;
    align-items: center;
    padding-left: 7px;
  }
  
  .profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .header-name {
    font-size: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    padding-right: 17px;
  }
  
  .header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header-nav li {
    margin-left: 20px;
    color: #fff;
  }
  
  .header-nav a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    color: #fff;
  }
  
  .header-nav a:hover {
    color: #f44336;
  }
  @media only screen and (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .header-nav {
      display: none;
    }
    .header-name {
      font-size: 17px;
    }
    body {
      font-family: sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: #54dafc;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px;
    background-attachment: fixed;
    animation: backgroundAnimation 100s ease-in-out infinite;
  }
    @keyframes backgroundAnimation {
      0% {
        background-position: 0 0, 0 0;
      }
      50% {
        background-position: 400px 400px, -400px -400px;
      }
      100% {
        background-position: 0 0, 0 0;
      }
    }
    .hamburger {
      display: block;
      width: 30px;
      height: 30px;
      padding: 5px;
      border: none;
      background: transparent;
      cursor: pointer;
    }
    
    .hamburger span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      margin-bottom: 5px;
    }
    nav {
      display: flex;
      flex-basis: 100%;
    }
    nav ul {
      justify-content: flex-end;
    }
  }


  body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #54dafc;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px;
  background-attachment: fixed;
  animation: backgroundAnimation 27s ease-in-out infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0, 0 0;
  }
  50% {
    background-position: 400px 400px, -400px -400px;
  }
  100% {
    background-position: 0 0, 0 0;
  }
}
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  h1,
  h2 {
    margin-bottom: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  .contact-info {
    background-color: #54dafc;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .contact-info h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 1px;
    color: #333;
  }
  
  .contact-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .contact-info li {
    font-size: 17px;
    margin-bottom: 7px;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration:none;
  }
  
  .contact-info li:hover {
    transform: translateY(-7px);
  }
  
  .contact-info li i {
    margin-right: 15px;
    font-size: 17px;
    color: #7f7f7f;
    transition: all 0.3s ease;
  }
  
  .contact-info li:hover i {
    color: #333;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
  }
  
  .social-links a {
    color: #787878;
    font-size: 17px;
    margin: 0 10px;
  }
  
  .social-links a:hover {
    color: #0077be;
  }
  
